.idea/
.DS_Store
*.iml
.classpath
.project
.settings/
target/
README.md.bak
*.versionsBackup
script/generated/
kafka-junit-core/src/test/resources/kafka.keystore.jks
kafka-junit-core/src/test/resources/kafka.truststore.jks
